<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.aicp.overlay.bg_dark.graylegacy.com.android.settings"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="com.android.settings"
        android:category="aicp.bg_dark"
        android:priority="1" />

    <application
        android:label="@string/theming_bg_dark_graylegacy"
        android:hasCode="false" />

</manifest>
