<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.aicp.overlay.defaultdark.com.android.deskclock"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="com.android.deskclock"
        android:priority="1" />

</manifest>
