<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.aicp.overlay.notif_dark.transparentblack50.android"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="android"
        android:category="aicp.notif_dark"
        android:priority="1" />

    <application
        android:label="@string/theming_notif_dark_transparentblack50"
        android:hasCode="false" />

</manifest>
