<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.aicp.overlay.qs_bg_dark.transparentgray50.com.android.systemui"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="com.android.systemui"
        android:category="aicp.qs_bg_dark"
        android:priority="1" />

    <application
        android:label="@string/theming_qs_bg_dark_transparentgray50"
        android:hasCode="false" />

</manifest>
