<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.aicp.overlay.qs_fg.outline.android"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="android"
        android:category="aicp.qs_fg"
        android:priority="1" />

    <application
        android:label="@string/theming_qs_fg_outline"
        android:hasCode="false" />

</manifest>
