<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.aicp.overlay.notif_dark.gray.com.android.systemui"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="com.android.systemui"
        android:category="aicp.notif_dark"
        android:priority="1" />

    <application
        android:label="@string/theming_notif_dark_gray"
        android:hasCode="false" />

</manifest>
