<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.aicp.overlay.notif_dark.transparentwhite.com.android.systemui"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="com.android.systemui"
        android:category="aicp.notif_light"
        android:priority="1" />

    <application
        android:label="@string/theming_notif_light_transparentwhite"
        android:hasCode="false" />

</manifest>
