<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aicp.overlay.navbar_style.asus.com.android.systemui"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="com.android.systemui"
        android:category="aicp.navbar_style"
        android:priority="1" />

    <application
        android:label="@string/theming_navbar_style_asus"
        android:hasCode="false" />

</manifest>
