<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.aicp.overlay.icon_shape.taperedrect.android"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="android"
        android:category="android.theme.customization.adaptive_icon_shape"
        android:priority="1" />

    <application
        android:label="@string/theming_icon_shape_taperedrect"
        android:hasCode="false" />

</manifest>
